/* Denna fil Ã¤r del av programmeringskoden fÃ¶r projektarbetet i kursen Webbutveckling II, ett arbete skapat av Cecilia Edvardsson */

/* Generellt, mobile first */

body {
  margin: 0;
  background-color: rgb(238, 245, 238);
}

h1 a,
h2,
h3,
h4 {
  font-family: "Shadows Into Light Two";
  letter-spacing: 4px;
}

p,
label,
a,
.counter-status,
.post-container p,
.singlepost-container p,
textarea {
  font-family: Tajawal, Verdana, Geneva, Tahoma, sans-serif;
}

h1 a {
  margin: 0;
  padding: 0 2%;
  color: black;
  font-size: 45px;
  text-shadow: 1px 1px 2px rgb(22, 54, 16), 0 0 1em rgb(248, 248, 250),
    0 0 0.2em rgb(251, 251, 254);
}

h2 {
  font-size: 35px;
  letter-spacing: 5px;
  padding-left: 2%;
}

img {
  display: block;
  margin: auto;
  width: 100%;
}

a {
  text-decoration: none;
}

/* Header och nav */

header {
  background-color: rgb(108, 173, 108);
  box-shadow: 2px 2px 5px rgb(8, 8, 8);
  margin: 0 0 5% 0;
  position: fixed;
  width: 100%;
  padding: 2% 0 4% 0;
  text-align: center;
}

#navlist {
  display: none;
}

nav ul {
  display: none;
  background-color: rgb(76, 136, 76);
  position: absolute;
  padding: 6% 0% 2% 0%;
  width: 100%;
  margin: 4% auto 0;
  z-index: 2;
  box-shadow: 2px 2px 5px rgb(42, 42, 42);
}

nav ul li {
  list-style-type: none;
  margin: 2%;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  letter-spacing: 1px;
  margin: 0 auto;
  padding: 0 2% 2%;
  display: block;
  width: 200px;
  text-align: center;
}

nav ul li a:hover {
  text-decoration: underline;
}

.menu {
  background-color: rgb(108, 173, 108);
  border: none;
  cursor: pointer;
}

.menu-text {
  font-size: 22px;
}

.menu-line {
  display: block;
  width: 55px;
  height: 6px;
  background-color: black;
  margin: 5px 0;
}

.menubutton {
  display: inline;
}

/* Footer */

footer {
  background-color: rgb(108, 173, 108);
  box-shadow: inset 0 -8px 4px 4px rgb(108, 173, 108),
    inset 0 2px 4px 0px rgba(50, 50, 50, 0.75);
  padding: 2% 2%;
  margin-bottom: -20px;
}

footer p,
footer a {
  font-size: 20px;
  color: black;
  text-shadow: 1px 1px 1px rgb(196, 196, 196);
  font-weight: 500;
}

footer h4 {
  font-weight: 700;
  font-size: 24px;
}

.footer-flexbox {
  margin: auto;
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}

.footer-flexbox h3 {
  font-size: 28px;
  text-shadow: 1px 1px 2px rgb(22, 54, 16), 0 0 1em rgb(248, 248, 250),
    0 0 0.2em rgb(251, 251, 254);
  letter-spacing: 4px;
}

.fa-brands {
  cursor: pointer;
  font-size: 100px;
}

/* AllmÃ¤n struktur */

main {
  padding-top: 200px;
}

.section {
  padding: 3% 2% 4% 2%;
}

/* Index + enstaka delar fÃ¶r flera sidor */

.section-intro {
  margin-top: 2%;
}

.opening {
  background-color: rgba(108, 173, 108, 0.485);
  border-radius: 55% 40% 55% 40%;
  border: 4px solid transparent;
  border-left-color: rgb(76, 99, 75);
  border-right-color: rgb(76, 99, 75);
  border-top-color: rgb(49, 79, 47);
  border-bottom-color: rgb(49, 79, 47);
  padding: 10% 10% 3%;
  text-align: center;
  margin: 5% auto 3%;
  box-shadow: 2px 2px 5px rgb(8, 8, 8);
  width: 70%;
  max-width: 450px;
}

.section-intro img,
.section img,
.finishedreg img {
  width: 90%;
  max-width: 700px;
  margin: 5% auto;
  padding: 0;
  border-radius: 40% 55% 40% 55%;
  box-shadow: 2px 2px 5px rgb(8, 8, 8);
}

.intro-link-button,
.submit-button {
  text-align: center;
  font-size: 25px;
  color: white;
  background-color: rgb(67, 118, 67);
  padding: 5% 6% 3%;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  box-shadow: 2px 2px 5px rgb(8, 8, 8);
  border: none;
  font-family: Tajawal, Verdana, Geneva, Tahoma, sans-serif;
}

.intro-link-button:hover,
.submit-button:hover,
.logout-button:hover {
  background-color: rgb(41, 86, 41);
  text-shadow: 0 1px 0 rgba(8, 8, 8, 0.998);
}

.logout-button {
  text-align: center;
  font-size: 18px;
  color: white;
  background-color: rgba(67, 118, 67, 0.5);
  padding: 3% 3% 2%;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  box-shadow: 2px 2px 5px rgb(8, 8, 8);
}

.section-intro h2 {
  font-size: 37px;
  text-shadow: 3px 3px 3px rgb(154, 154, 154);
  padding-top: 1%;
}

.section-intro p {
  font-size: 21px;
  font-family: Tajawal, Verdana, Geneva, Tahoma, sans-serif;
  padding: 0 1%;
  text-shadow: 1px 1px 1px rgb(196, 196, 196);
  font-weight: 500;
}

.intro-links {
  text-align: center;
  padding: 5% 0 10%;
}

.section-intro .intro-links-paragraph {
  font-size: 30px;
  font-weight: 500;
  text-shadow: 0 1.5px 0 rgba(33, 102, 48, 0.4);
}

/* ...Blogg-inlÃ¤gg, bloggare + enstaka delar fÃ¶r flera sidor */

.post-container,
.singlepost-container,
.blogger-container {
  display: block;
  padding-top: 1%;
  width: 100%;
  margin: 0 auto 7%;
}

.section h2 {
  text-align: center;
  letter-spacing: 3px;
  font-size: 40px;
}

article {
  background-color: white;
  box-shadow: 2px 2px 5px rgb(42, 42, 42);
  width: 75%;
  max-width: 470px;
  margin: auto;
  padding: 2% 6% 4% 6%;
  margin-bottom: 7%;
}

article p {
  font-size: 18px;
}

.article-date {
  font-size: 15px;
}

article h3 {
  color: rgb(41, 80, 43);
  letter-spacing: 2px;
  background-color: rgb(200, 219, 201);
  border-radius: 40% 70% 40% 70%;
  text-align: center;
  padding: 2%;
  margin-bottom: 0;
  font-size: 30px;
}

.post-container a,
.post-container a:visited {
  color: black;
}

.each-blogger {
  text-align: center;
}

.each-blogger a {
  color: rgb(66, 93, 54);
  font-family: Tajawal, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 27px;
  font-weight: bold;
  line-height: 2;
}

/* Finished reg */

.finishedreg {
  text-align: center;
  margin-bottom: 5%;
}

.finishedreg h2 {
  padding-bottom: 6%;
}

.finishedreg img {
  margin-top: 20%;
  margin-bottom: 10%;
}

/* Mina sidor och postedit */

.minasidor-container,
.postedit-container {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-bottom: 5%;
}

.minasidor h2,
.postedit h2 {
  margin-bottom: 10%;
}

.minasidor .logout-button,
.postedit .logout-button {
  margin-bottom: 4%;
}

.minasidor h3,
.postedit h3 {
  font-size: 32px;
  padding-top: 0;
}

.minasidor form label,
.postedit form label {
  font-size: 20px;
}

.minasidor .submit-button {
  padding: 1% 3%;
  margin-bottom: 3%;
}

.minasidor article {
  text-align: left;
  padding-bottom: 6%;
}

.minasidor article h3 {
  margin-bottom: 10%;
  margin-top: 10%;
  padding-top: 2%;
  font-size: 30px;
}

.minasidor .updated-p {
  font-family: Tajawal, Verdana, Geneva, Tahoma, sans-serif;
}

.newpost-container {
  padding-top: 3%;
}

.newpost-container .submit-button,
.login .submit-button,
.postedit .submit-button {
  padding: 2% 10% 0;
  font-size: 22px;
}

.message {
  padding-top: 5%;
  font-size: 18px;
  margin: auto;
}

.textarea {
  width: 300px;
  height: 200px;
  font-size: 18px;
  border-radius: 3px;
  border: 1px solid rgb(90, 149, 90);
  background-color: rgb(228, 245, 228);
}

.manage-post {
  padding: 20px 0 15px;
}

.link-erase {
  background: rgb(250, 126, 126);
  text-align: center;
  margin-top: 40px;
  font-size: 17px;
  color: black;
  padding: 3% 5% 2%;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  box-shadow: 2px 2px 5px rgb(8, 8, 8);
  border: none;
  font-family: Tajawal, Verdana, Geneva, Tahoma, sans-serif;
}

.link-erase:hover {
  background-color: rgb(210, 63, 63);
  text-shadow: 0 1px 0 rgba(8, 8, 8, 0.998);
}

.link-change {
  background: rgb(247, 247, 154);
  text-align: center;
  margin-right: 10px;
  margin-top: 40px;
  font-size: 17px;
  font-weight: 400;
  color: black;
  padding: 3% 5% 2%;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  box-shadow: 2px 2px 5px rgb(8, 8, 8);
  border: none;
  font-family: Tajawal, Verdana, Geneva, Tahoma, sans-serif;
}

.link-change:hover {
  background: rgb(215, 215, 63);
  text-shadow: 0 1px 0 rgba(8, 8, 8, 0.998);
}

.radera {
  background: rgb(129, 8, 20);
  text-align: center;
  font-size: 18px;
  color: white;
  padding: 3% 5% 2%;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  box-shadow: 2px 2px 5px rgb(8, 8, 8);
  border: none;
  font-family: Tajawal, Verdana, Geneva, Tahoma, sans-serif;
}

.radera:hover {
  background: rgb(167, 30, 44);
}

/* Login */

.login {
  padding-bottom: 15%;
}

.login form {
  width: 80%;
  margin: auto;
  text-align: center;
}

.login label {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.login input {
  font-size: 20px;
  margin-top: 10px;
  border-radius: 3px;
  padding: 2%;
  border: 1px solid rgb(90, 149, 90);
  width: 300px;
  background-color: rgb(228, 245, 228);
}

.login form .submit-button {
  background-color: rgb(67, 118, 67);
  padding: 4% 0 2%;
  margin-bottom: 4%;
}

.login form p {
  font-size: 20px;
}

/* Grid och flex */

/* Register */

.register-flexbox div:nth-child(1) {
  width: 70%;
  margin: auto;
  padding-bottom: 75px;
}

.register-flexbox div:nth-child(1) p {
  font-size: 20px;
}

.register-flexbox label {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.register-flexbox input {
  font-size: 20px;
  margin-top: 10px;
  border-radius: 10px;
  padding: 2%;
  width: 300px;
  border: 1px solid rgb(90, 149, 90);
  background-color: rgb(228, 245, 228);
}

.register-flexbox form .submit-button {
  padding: 4% 0 2%;
  background-color: rgb(67, 118, 67);
  margin-bottom: 20px;
  font-size: 22px;
}

.register-flexbox div img {
  display: none;
}

.grid-register-1 .errormessage {
  text-align: left;
}

.userconditions {
  text-decoration: underline;
  cursor: pointer;
}

/* User posts */

.section-userposts {
  padding-bottom: 15%;
}

.section-userposts .post-container .paragraph-structure {
  text-align: center;
}

/* Single posts */

.singleposts {
  padding-bottom: 15%;
}

/* About */

.about {
  padding-bottom: 150px;
}

.about p {
  font-size: 20px;
  width: 80%;
  max-width: 650px;
  margin: auto;
}

/* Blandat mindre delar */

.button {
  color: white;
  background-color: rgb(108, 173, 108);
  border: 2px solid rgb(2, 74, 2);
  padding: 2.5%;
  font-size: 20px;
  margin-bottom: 1%;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

input {
  font-size: 18px;
  border-radius: 3px;
  border: 1px solid rgb(90, 149, 90);
  background-color: rgb(228, 245, 228);
}

.link-tillbaka {
  padding-left: 4%;
  font-size: 18px;
}

.link-tillbakaminasidor {
  font-size: 18px;
  padding: 5% 0;
  color: red;
}

.link-fortsattning,
.link-tillbaka,
.link-tillbakaminasidor {
  color: black;
  text-decoration: underline;
}

.counter-status {
  font-style: italic;
}

.blogsquare {
  background-color: white;
  position: absolute;
  top: 300%;
  left: 30%;
  text-align: center;
  display: none;
}

/* Meddelanden */

.bigmessage {
  font-size: 22px;
  padding-top: 6%;
}

.errormessage {
  color: red;
  font-size: 20px;
  font-weight: bold;
  padding-left: 2%;
  text-align: center;
}

.successmessage {
  color: green;
  font-weight: bold;
  padding-left: 2%;
}

/* Responsivitet i andra storlekar */

@media screen AND (min-width: 500px) AND (max-width: 1069px) {
  #navlist {
    padding: 0;
  }

  .opening {
    padding: 5% 5% 5%;
  }

  .opening h2 {
    font-size: 40px;
  }

  .section-intro .intro-links-paragraph {
    margin-bottom: 10px;
    font-size: 39px;
  }

  .intro-link-button {
    padding: 1% 6% 1%;
  }

  .intro-page img,
  .section img {
    width: 70%;
    max-width: 500px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .post-container article {
    width: 400px;
  }

  .login form .submit-button {
    padding: 2%;
    font-size: 25px;
  }

  .errormessage {
    padding-left: 0%;
    text-align: left;
  }

  .login .errormessage {
    text-align: center;
  }

  .register-flexbox form .submit-button {
    padding: 2% 0 2%;
  }

  .minasidor h2 {
    margin-bottom: 5%;
  }

  .logout-button {
    padding: 1% 3% 1%;
  }

  #new-post-title,
  #title {
    width: 300px;
    padding: 0.5%;
  }

  .textarea {
    width: 500px;
  }

  .newpost-container .submit-button,
  .postedit-container .submit-button {
    padding: 1% 6%;
  }

  .link-change,
  .link-erase {
    padding: 1% 3%;
  }

  .radera {
    margin-top: 20px;
    padding: 2% 4%;
    font-size: 20px;
  }
}

/*...frÃ¥n liten desktop och uppÃ¥t...*/
@media screen AND (min-width: 1070px) {
  /* Generellt / enstaka delar av olika sidor */

  main {
    margin-top: 0;
    padding-top: 0;
  }

  h1 a {
    font-size: 30px;
    padding-left: 20px;
  }

  /* Header och nav */

  .menubutton {
    display: none !important;
  }

  header {
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  nav {
    display: block !important;
    position: static;
    width: 900px;
  }

  nav ul {
    display: inline;
    position: relative;
    padding: 0 0 2%;
    margin: auto 0;
    background-color: transparent;
    box-shadow: none;
  }

  nav ul li {
    margin: 0;
    display: inline;
  }

  nav ul li a {
    font-size: 20px;
    margin: 1%;
    padding: 1%;
    display: inline;
    width: 100px;
  }

  #navlist {
    width: 100%;
    position: static;
    margin: 0%;
    display: block !important;
    padding-top: 20px;
  }

  /* Footer */

  .footer-flexbox {
    display: flex;
    justify-content: space-evenly;
  }

  /* Index */

  .intro-page {
    width: 85%;
    max-width: 1000px;
    margin: auto;
  }

  .section-intro {
    margin-top: 0;
  }

  .section-intro .opening h2 {
    font-size: 43px;
    margin-top: 8%;
  }

  .section-intro .opening {
    border-radius: 50% 80% 50% 80%;
    padding: 3% 10% 5%;
    margin: 7% auto 1%;
    box-shadow: 2px 2px 5px rgb(8, 8, 8);
  }

  .section-intro img,
  .section img {
    width: 80%;
    max-width: 700px;
    margin: 0 auto 3%;
    padding: 0;
  }

  .intro-links {
    display: flex;
    justify-content: space-evenly;
  }

  .intro-links div {
    width: 50%;
    margin-bottom: 3%;
  }

  .section-intro .intro-links-paragraph {
    margin-bottom: 20px;
    font-size: 37px;
  }

  .intro-link-button {
    font-size: 28px;
    padding: 2% 6%;
  }

  .intro-page .post-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto 7%;
    padding-left: 2%;
  }

  .section-userposts .post-container article {
    margin: 0 auto 4%;
  }

  article {
    width: 33%;
    margin: 2% 3% 2% 2%;
  }

  /* Login */

  .login,
  .register-flexbox {
    padding-bottom: 100px;
  }

  .login {
    padding-top: 60px;
  }

  .login input {
    margin-top: 10px;
    padding: 1%;
    width: 300px;
  }

  .login form .submit-button {
    padding: 1% 0;
  }

  /* Register */

  .register-flexbox {
    display: flex;
  }

  .register-flexbox h2 {
    text-align: left;
  }

  .register-flexbox div:nth-child(1) {
    width: 40%;
    padding-bottom: 0;
    padding-left: 20px;
  }

  .register-flexbox div:nth-child(2) {
    margin: auto;
  }

  .register-flexbox form .submit-button {
    padding: 2% 2%;
  }

  .register-flexbox div img {
    display: block;
    border-radius: 50% 60% 50% 60%;
    width: 80%;
    margin: 5% auto;
    padding: 0;
    box-shadow: 2px 2px 5px rgb(8, 8, 8);
  }

  /* Enstaka post */

  .singlepost-container article p {
    font-size: 20px;
  }

  .singlepost-container article {
    margin: auto;
    width: 80%;
    max-width: 500px;
  }

  .singlepost-container h3 {
    padding-bottom: 40px;
    font-size: 30px;
  }

  .link-tillbaka {
    margin-left: 10px;
    font-size: 22px;
  }

  /* Mina sidor */

  .textarea {
    width: 500px;
  }

  #new-post-title,
  #title {
    width: 300px;
    padding: 0.5%;
  }

  .logout-button {
    padding: 0.5% 3% 0.5%;
    font-size: 20px;
  }

  .minasidor .submit-button {
    padding: 2% 10%;
  }

  .link-change,
  .link-erase {
    padding: 1% 3%;
  }

  .radera {
    padding: 1% 4%;
    font-size: 20px;
  }

  /* Finished reg */

  .finishedreg h2 {
    margin-top: 80px;
    padding-bottom: 60px;
  }

  .finishedreg img {
    width: 80%;
    max-width: 700px;
    margin: 8% auto;
    padding: 0;
  }

  .finishedreg .intro-link-button {
    font-size: 24px;
    padding: 1% 4%;
  }
}

/* ...frÃ¥n stÃ¶rre desktop och uppÃ¥t...*/
@media screen AND (min-width: 1370px) {
  /* AllmÃ¤nt */

  h1 a {
    font-size: 40px;
    padding: 40px;
  }

  /* Struktur */

  .section {
    padding: 1% 2% 1% 2%;
  }

  .about,
  .login,
  .register-flexbox,
  .section-userposts,
  .singleposts {
    padding-bottom: 120px;
    padding-top: 100px;
  }

  /* Header och nav */

  nav ul li a {
    font-size: 24px;
  }

  /* Mina sidor */

  .minasidor h2,
  .postedit h2 {
    padding-top: 4%;
    margin-bottom: 3%;
  }

  .minasidor .submit-button,
  .postedit .submit-button {
    padding: 0.5% 3%;
  }

  .minasidor .post-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding: 0;
  }

  .minasidor article {
    width: 30%;
  }

  .textarea {
    border-radius: 3px;
    border: 1px solid rgb(90, 149, 90);
    background-color: rgb(228, 245, 228);
  }

  /* Register */

  .register-flexbox div img {
    width: 100%;
  }
}

/* ...mindre mobil...*/

@media screen AND (max-width: 412px) {
  /* AllmÃ¤nt */

  h1 a {
    font-size: 35px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 25px;
  }

  .section h2 {
    margin-top: -10px;
    margin-bottom: 40px;
  }

  /* Index */

  .section-intro h2 {
    padding-top: 5%;
    font-size: 28px;
  }

  .opening {
    margin-top: 0;
    width: 80%;
    padding: 5% 5% 2%;
  }

  .section-intro .intro-links-paragraph {
    font-size: 28px;
    margin-bottom: 10px;
  }

  .intro-link-button {
    padding: 4% 5% 2%;
    margin-top: 0;
  }

  .section h2 {
    font-size: 30px;
  }

  .post-container article {
    width: 75%;
  }

  .post-container article h3 {
    font-size: 25px;
  }

  .each-blogger a {
    font-size: 23 px;
    line-height: 1;
  }

  /* Login */

  .login input,
  .register-flexbox input {
    font-size: 18px;
    width: 250px;
  }
}
